<!DOCTYPE HTML>
<html>
    <head>
        <title>Text to Speech Converter!</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
            h1 {
                font-family: "Open Sans", sans-serif;
            }
            p {
                font-family: "Open Sans", sans-serif;
            }
        </style>
    </head>
    <body>
        <div><a href="">Text To Speech Converter</a></div>
        <hr>
        <h1 style="text-align: center;">Hello! Welcome to the Text to Speech Converter!</h1>
        <p>Hello welcome to the converter! Type in your message 
            to be played back to you in an instant or you can 
            download it as an mp3 file to listen on the go!</p>
            <br>
            <p>To get started. Type what you like to say in the following box then click 'Play!'</p>

            <p>among us</p>
    </body>
</html>